html {
	padding:0;
	margin:0;
	font-family: 'Raleway', sans-serif;
}

body {
	padding-left: 40px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.5em;
	font-weight: 300;
}

input {
	height: 50px;
	font-size:1.5em;
}

#user_stats {
	display:none;
}